.Status {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: row;
  columns: 3 auto;
}
.StatusColumn {
  display: "flex";
  justify-content: "center";
  flex-direction: "column";
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.Status p {
  padding: 0px;
  margin: 5px;
  text-align: center;
}
